body {
    background-color: #e9e9e9;
    margin-bottom: 80px;
}

#budget-col,
#remaining-col,
#expense-col {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    color: #ffffff;
}